/*-------CSS Reset-------*/
*{
padding: 0px; 
margin: 0px;
font-size: 100%;
line-height: 1em;    
}


/*-------Main Styling-------*/
body{
    width: 80%;
    max-width: 670px;
    margin: auto;
    background: #fafafa;
    color: #333;
}


/*-------Specified Styling-------*/

h1, h2, h3{
    font-weight: normal;
    color: #80001E;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    padding: 20px;
}

p{
    font-family: 'Arimo', sans-serif;
    text-align: left;
}

h1{
    font-size: 2.75em;
    margin: 1em 0 0.5em 0;
}

h2{
    font-size: 1.75em;
    margin: 0.5em 0 0.5em 0;
}

blockquote{
    font-family: 'Arimo', sans-serif;
    margin: 0.5em 0;
    font-size: 1.25em;
    hanging-punctuation: first;
    text-indent: -0.44em;
    color: #AB0028
}

blockquote cite{
    font-size: 0.75em;
    color: #80001E;
}

/*-------Footer-------*/
footer p{
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 4em 0;
}