/*-------CSS Reset-------*/
*{
padding: 0px; 
margin: 0px;
font-size: 100%;
line-height: 1em;  
scroll-behavior: smooth;    
}


/*-------Main Styling-------*/
body{
    width: 80%;
    max-width: 670px;
    margin: auto;
    background: #fafafa;
    color: #333;
}


/*-------Specified Styling-------*/

h1, h2, h3{
    font-weight: normal;
    color: #80001E;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    padding: 20px;
}

p,
table{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 1.5em;
}

p,
blockquote{
    margin: 0 0 1.5em 0;
}

h1{
    font-size: 2.75em;
    margin: 1em 0 0.5em 0;
}

h2{
    font-size: 1.75em;
    margin: 0.5em 0 0.5em 0;
}

blockquote{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    hanging-punctuation: first;
    text-indent: -0.44em;
    color: #AB0028
}

blockquote cite{
    font-size: 0.75em;
    color: #80001E;
}

/*-------LINKS Styling-------*/

a {
    color: #5032FF;
    text-decoration: none;
}

a:hover {
    color: crimson;
    border-bottom: 1px solid;
}

/*-------Navigation-------*/

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    background-color: #AB0028;
    padding: 1em 0;
    font-size: 0.75em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: orange;
}

/*-------Table-------*/


table{
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption{
    margin-bottom: 1.5em;
    text-transform: uppercase;
}


th{
    color: #fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #AB0028;
}

th, td{
    padding: 0.75em;
}

table, td{
    background: #fafafa;
    border:  1px solid #AB0028;
}


/*-------Images-------*/
img{
    display: block;
    margin: 3em auto;
    padding: 0;
    max-width: 100%;
    
}

/*-------Footer-------*/
footer p{
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 4em 0;
}

.links {
    position: relative;
    margin: 0 auto;
}

.links ul {
    margin: 0;
    padding: 0;
}

.links li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.links a:link {
    border-bottom: none;
}

.links img {
    opacity: 0.5;
    border: none;
}

.links a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}