/*-------CSS Reset-------*/

* {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    line-height: 1em;
}

/*-------Main Styling-------*/

body {
    width: 80%;
    max-width: 670px;
    margin: auto;
    background: #fafafa;
    color: #333;
    font-family: 'Libre Baskerville', serif;

}


article {
    display: flex;
}

.main {
    flex: 4;
    padding-right: 1em;
}

aside {
    flex: 1;
    font-size: 0.75em;
    font-style: italic;
    border-left: 1px solid #5032FF;
    padding-left: 1em;
}




/*-------Specified Styling-------*/

h1,
h2,
h3 {
    font-weight: normal;
    color: #5032FF;
    text-align: center;
}

p,
table,
cite {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
}

p,
blockquote {
    margin: 0 0 1.5em 0;
    line-height: 1.5;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 2.827em;
    margin: 1em 0 0.5em 0;
}

h2 {
    font-size: 1.999em;
    margin: 1em 0 1em 0;
}

h3 {
    font-size: 1.414em;
    margin: 1.5em;
}


blockquote {
    font-size: 1.25em;
    hanging-punctuation: first;
    text-indent: -0.44em;
    color: #5032FF
}

blockquote cite {
    font-size: 0.75em;
    color: #333;

}

header,
h3 {
    font-style: italic;
}

header p {
    font-size: 1.35em;
}

/*-------LINKS Styling-------*/

a {
    color: #5032FF;
    text-decoration: none;
}

a:hover {
    color: crimson;
    border-bottom: 1px solid;
}

/*-------NAVIGATION-------*/

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    background-color: #5032FF;
    padding: 1em 0;
    font-size: 0.75em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: crimson;
}

/*-------Table-------*/


table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
}


th {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #5032FF;
}

th,
td {
    padding: 0.75em;
}

table,
td {
    background: #fafafa;
    border: 1px solid #8C80FF;
}

/*-------Images-------*/

img {
    display: block;
    margin: 3em auto;
    padding: 0;
    max-width: 100%;

}

/*-------Tablet Size-------*/

@media(max-width: 50em;)
body{
    width:100%;
}

hea

/*-------Phone Size-------*/

/*-------Footer-------*/
footer {
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 4em 0;
}

.connections {
	position: relative;
	margin: 0 auto;
}

.connections ul {
	margin: 0;
	padding: 0;}

.connections li {
	margin: 0 15px;
	padding: 0;
	list-style: none; 
	display: inline-block;}
	
.connections a:link {
	border-bottom: none;}

.connections img {
	opacity: 0.5;
    border: none;
	}
	
 .connections a:hover img {
		opacity: 1.0;
		border-bottom: none; 
		transition: all 0.3s ease-in-out; 
				}	

