/*-------CSS Reset-------*/

* {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    line-height: 1em;
}

/*-------Main Styling-------*/

body {
    width: 80%;
    max-width: 670px;
    margin: auto;
    background: #fafafa;
    color: #333;
    font-family: 'Libre Baskerville', serif;

}

/*-------Specified Styling-------*/

h1,
h2,
h3 {
    font-weight: normal;
    color: #5032FF;
    text-align: center;
}

p,
table,
cite {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
}

p,
blockquote{
    margin: 0 0 1.5em 0;
    line-height: 1.5;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 2.827em;
    margin: 1em 0 0.5em 0;
}

h2 {
    font-size: 1.999em;
    margin: 1em 0 1em 0;
}

h3 {
    font-size: 1.414em;
    margin: 1.5em;
}


blockquote {
    font-size: 1.25em;
    hanging-punctuation: first;
    text-indent: -0.44em;
    color: #5032FF
}

blockquote cite {
    font-size: 0.75em;
    color: #333;

}

header,
h3 {
    font-style: italic;
}

header p {
    font-size: 1.35em;
}

/*-------LINKS Styling-------*/

a {
    color: #5032FF;
    text-decoration: none;
}

a:hover {
    color: crimson;
    border-bottom: 1px solid;
}

/*-------NAVIGATION-------*/

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    background-color: #5032FF;
    padding: 1em 0;
    font-size: 0.75em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: crimson;
}

/*-------Table-------*/


table{
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

caption{
    margin-bottom: 1.5em;
    text-transform: uppercase;
}


th{
    color: #fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #5032FF;
}

th, td{
    padding: 0.75em;
}

table, td{
    background: #8C80FF;
    border:  1px solid #fafafa;
}



/*-------Footer-------*/
footer {
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 4em 0;
}
